<main class="index_body">
        <div class="house-container">
        {{#each roomList}}
                <article class="house">
                        <div class="house-content">
                                <image src='{{room_img}}'>
                                <p class="house-text">
                                        {{title}}
                                </p>
                                <div class="author">
                                        <image class="human" src='{{user_photo}}'>
                                </div>
                                <p class="price">${{price}}</p>
                        </div>
                </article>
        {{/each}}
        <script>
                var map;
                function initMap() {
                        map = new google.maps.Map(
                                document.getElementById('map'),
                                {center: new google.maps.LatLng(44.5638, -123.2794), zoom: 13}
                        );

                // var address = "5276 SW Meridian Pl. Corvallis, Oregon";
                {{#each roomList}}
                        var address = '{{address}}';
                        var price = {{price}};
                        dropMarkers(map, address, price)
                {{/each}}
                }

                function dropMarkers(map, address, price){
                        var geocoder = new google.maps.Geocoder();
                        geocoder.geocode( { 'address': address}, function(results, status) {
                                var lat;
                                var lng;
                                if (status == google.maps.GeocoderStatus.OK) {
                                        lat = results[0].geometry.location.lat()
                                        lng = results[0].geometry.location.lng()
                                } else {
                                        alert('Geocode was not successful for the following reason: ' + status);
                                }

                                console.log(lat);
                                console.log(lng);

                                var image = {
                                        url: 'images/speech_bubble.png',
                                        // This marker is 35 pixels wide by 35 pixels high.
                                        size: new google.maps.Size(35, 20),
                                        // The origin for this image is (0, 0).
                                        origin: new google.maps.Point(0, 0),
                                        // The anchor for this image is the base of the flagpole at (0, 32).
                                        anchor: new google.maps.Point(0, 35)
                                };

                                var features = {
                                        position: new google.maps.LatLng(lat, lng),
                                        type: 'info'
                                };

                                // Create markers.
                                // for (var i = 0; i < features.length; i++) {
                                var marker = new google.maps.Marker({
                                        position: features.position,
                                        icon: image,
                                        // icon: icons[features[i].type].icon,
                                        map: map,
                                        label: {
                                                text: "$"+price,
                                                color: 'white',
                                                fontSize: '11px'
                                        }
                                });
                                        // };
                        })
                }
        </script>
        </div>
        <div id="map"></div>
</main>
